.main-chat
  .main-chat__group-name
    .right-header
      .right-header__group-name
        .current-group
          test
        .member-list
          Member : masa
      
      .right-header__edit-button
        = link_to "#" ,class:"right-header__edit-button__text" do
          edit 
  .main-chat__message-list
    .message-field
      .message-field__information
        .user-name
          masa
        .created-at
          2019/11/20(Wed)17:43:01
      .message-field__content
        おはよう
      .message-field__information
        .user-name
          masa
        .created-at
          2019/11/20(Wed)17:43:01
      .message-field__content
        おはよう
    
  .main-chat__message-form
    .footer
      .post-form
        %input.post-form__message{"placeholder": "type a message", "type": "text"}
        %label{class: "post-form__image"}
          = icon('fas','image')
          %input{type: "file"}
      %input.send-button{"name": "comit", "type": "submit", "value": "Send"}