.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %p masa
      .top-items__icons
        =link_to "#"  do
          =icon('far','edit')
        =link_to "#"  do
          =icon('fas','cog')
  .side-bar__group-list
    .group-block
      .group-name
        %p techcamp
      .group-message
        %p まだメッセージはありません
    .group-block
      .group-name
        %p techcamp
      .group-message
        %p まだメッセージはありません